<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HR APP</title>
    <link rel="stylesheet" type="text/css" href="../bower_components/bootstrap/dist/css/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="../bower_components/bootstrap/dist/css/bootstrap-theme.css"/>
</head>
<body>
<h1>Sample Application</h1>
<div ng-app="hrApp">
    <div ng-controller="OtherController">
        <p>
            ScopeID:{{$id}}
        </p>

        <p>
            Parent title is:{{title}}
        </p>
        <p>
            <a class="btn btn-primary btn-lg" role="button" ng-click="setTitle()">Set Title</a>
        </p>
    </div>
</div>
<script type="text/javascript" src="../bower_components/jquery/jquery.js"></script>
<script type="text/javascript" src="../bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script type="text/javascript" src="../bower_components/angular/angular.js"></script>
<script type="text/javascript" src="../scripts/app.js"></script>
<script type="text/javascript" src="../scripts/OtherController.js"></script>
</body>
</html>