<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Employees</title>
    <link rel="stylesheet" type="text/css" href="../bower_components/bootstrap/dist/css/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="../bower_components/bootstrap/dist/css/bootstrap-theme.css"/>
</head>
<body>
<div ng-app="hrApp">
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">

            <a class="navbar-brand" href="#">Menu</a>
            <a class="navbar-brand" href="#">Home</a>
            <a class="navbar-brand" href="views/shopping.html">Shop&GO</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">

                <li class="dropdown" ng-controller="MenuController">
                    <a href="" class="dropdown-toggle" data-toggle="dropdown">Employees<span   class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li ng-repeat="employee in employeeList"><a href="">{{employee.name}}</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
</div>
<script type="text/javascript" src="../bower_components/jquery/jquery.js"></script>
<script type="text/javascript" src="../bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script type="text/javascript" src="../bower_components/angular/angular.js"></script>
</body>
</html>