<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Shopping Cart</title>
    <link rel="stylesheet" type="text/css" href="../bower_components/bootstrap/dist/css/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="../bower_components/bootstrap/dist/css/bootstrap-theme.css"/>
</head>
<body>
<div ng-app="hrApp">
    <table class="table table-bordered" id="tabel">
        <tr>
            <th>Product name</th>
            <th>Image</th>
            <th>Price</th>
            <th>Quantity</th>
        </tr>
    </table>
    <h1>Shopping cart</h1>
</div>
<script type="text/javascript" src="../bower_components/jquery/jquery.js"></script>
<script type="text/javascript" src="../bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script type="text/javascript" src="../bower_components/angular/angular.js"></script>
<script type="text/javascript" src="../scripts/hrApp.js"></script>
<script type="text/javascript" src="../scripts/ShopController.js"></script>
<script type="text/javascript" src="../scripts/ImageController.js"></script>
</body>
</html>