<div>
<ng-form name="myForm" class="my-form">
    userType: <input name="input" ng-model="userType" required>
    <span class="error" ng-show="myForm.input.$error.required">Required!</span><br>

    passType:<input name="input" ng-model="passType" required>
    <span class="error" ng-show="myForm.input.$error.required">Required!</span><br>
    userType = {{userType}}<br>
    myForm.$pristine={{myForm.$pristine}}<br>
    myForm.$invalid={{myForm.$invalid}}<br>
    myForm.$dirty={{myForm.$dirty}}<br>
    myForm.input.$valid = {{myForm.input.$valid}}<br>
    myForm.input.$error = {{myForm.input.$error}}<br>
    myForm.$valid = {{myForm.$valid}}<br>
    myForm.$error.required = {{!!myForm.$error.required}}<br>
</ng-form>

    <div class="container">
        <button class="btn btn-default" ng-click="trimite()">Trimite</button>
    </div>
</div>
