<div class="panel panel-default">
    <div class="panel-heading">
        <h2 class="panel-title">Edit employee <b>{{employee.firstName}} {{employee.lastName}}</b></h2>
    </div>
    <div class="panel-body">
        <ng-form name="employeeEditForm">
            <!--TODO#HR7-->


                        <div class="col-lg-6">
                            <!--TODO#HR3-->


                            <div class="form-group" ng-class="{ 'has-error': employeeEditForm.firstName.$invalid }">
                                <label for="firstName">First Name:</label>
                                <input type="text" id="firstName" name="firstName" class="form-control" ng-model="employee.firstName"
                                       placeholder="First Name"  required>

                            </div>
                        </div>


                        <div class="row">
                            <div class="col-lg-6">

                                <!--TODO#HR3-->




                                <div class="form-group"ng-class="{ 'has-error': employeeEditForm.lastName.$invalid }">
                                    <!--TODO#HR2-->
                                    <label for="lastName">Last Name:</label>
                                    <input type="text" id="lastName" name="lastName" class="form-control" ng-model="employee.lastName"
                                           placeholder="Last Name"  required>


                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6">
                            <!--TODO#HR3-->
                            <div class="form-group"ng-class="{ 'has-error': employeeForm.email.$invalid }">
                                <!--TODO#HR2-->
                                <label for="email">Email:</label>
                                <input type="text" id="email" name="email" class="form-control" ng-model="employee.email"
                                       placeholder="Email"  required>

                            </div>
                        </div>
                        <div class="col-lg-6">
                            <!--TODO#HR3-->
                            <div class="form-group" ng-class="{ 'has-error': employeeAddForm.phone.$invalid }">
                                <!--TODO#HR2-->
                                <label for="phone">Phone:</label>
                                <input type="number" id="phone" name="phone" class="form-control" ng-model="employee.phone"
                                       placeholder="Phone"  required>
                                <div class="form-group" >

                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6">
                            <div class="form-group" ng-class="{ 'has-error': employeeAddForm.hireDate.$invalid }">
                                <label for="hireDate">Hire Date:</label>
                                <input type="text" id="hireDate" name="hireDate" class="form-control" ng-model="employee.hireDate"
                                       placeholder="Hire Date" ng-pattern="datePattern" required>
                                <span class="help-block" ng-show="employeeAddForm.hireDate.$error.required
                             && employeeAddForm.hireDate.$dirty">{{requiredErrorMessage}}</span>
                                <span class="help-block" ng-show="employeeAddForm.hireDate.$error.pattern
                             && employeeAddForm.hireDate.$dirty">{{patternDateNotRespectedMessage}}</span>
                            </div>

                        </div>
                        <div class="col-lg-6">
                            <!--TODO#HR3-->


                            <div class="form-group">
                                <div class="form-group" ng-class="{ 'has-error': employeeAddForm.department.$invalid }">
                                    <!--TODO#HR2-->
                                    <label for="department">Department:</label>
                                    <select id="department" ng-model="employee.departmentId" name="departmentName" class="form-control" required
                                            ng-options="department.departmentName for department in departments track by department.departmentId">
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6">

                            <!--TODO#HR3-->

                            <div class="form-group" ng-class="{ 'has-error': employeeAddForm.salary.$invalid }">
                                <!--TODO#HR2-->
                                <label for="salary">Salary:</label>
                                <input type="number" id="salary" name="salary" class="form-control" ng-model="employee.salary"
                                       placeholder="Salary"  required>


                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group" ng-class="{ 'has-error': employeeAddForm.commissionPct.$invalid && employeeAddForm.commissionPct.$dirty }">
                                    <label for="commissionPct">Commission:</label>
                                    <input type="text" id="commissionPct" name="commissionPct" class="form-control" ng-model="employee.commissionPct"
                                           placeholder="Commission" ng-pattern="commissionPattern" required>
                                    <span class="help-block" ng-show="employeeAddForm.commissionPct.$error.required
                             && employeeAddForm.commissionPct.$dirty">{{requiredErrorMessage}}</span>
                                    <span class="help-block" ng-show="employeeAddForm.commissionPct.$error.pattern
                             && employeeAddForm.commissionPct.$dirty">{{patternCommisionNotRespectedMessage}}</span>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6">
                            <!--TODO#HR3-->

                            <div class="form-group" ng-class="{ 'has-error': employeeAddForm.jobTitle.$invalid }">
                                <!--TODO#HR2-->
                                <label for="jobTitle">Job:</label>
                                <select id="jobTitle" ng-model="employee.jobTitle" name="jobTitle" class="form-control" required
                                        ng-options="job.jobTitle for job in jobs track by job.jobId">
                                </select>

                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group" ng-class="{ 'has-error': employeeAddForm.manager.$invalid }">
                                    <label for="manager">Manager:</label>
                                    <select id="manager" ng-model="employee.managerId" name="manager" class="form-control" required
                                            ng-options="manager.firstName+' '+ manager.lastName for manager in managers track by manager.employeeId">
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-5"></div>
                            <div class="col-md-7">
                                <div class="container">
                                    <!--TODO#HR4-->
                                    <div class="container">
                                        <button class="btn btn-default" ng-click="edit()" ng-disabled="employeeEditForm.$invalid">Edit</button>
                                        <button class="btn btn-default" ng-click="reset()">Reset</button>
                                    </div>

                                </div>
                            </div>
                        </div>
                </div>



</ng-form>
    </div>
</div>